.container {
  display: flex;
  flex-direction: row;
}
.video {
  position: absolute;
  top: 0;
  right: 0;
}
.canvas1 {
  position: relative;
  background: url('./assets/background.jpg');
}
.canvas2 {
  position: absolute;
  top: 0;
  right: 0;
}
